.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 30px;
	height: 80px;
	background-color: #005ce6;
	color: #eee;

	&__left {
		&__brand {
			font-size: 50px;
			letter-spacing: 1px;
			&:hover {
				color: white;
			}
		}
	}
	&__right {
		display: flex;

		&__item {
			margin: 0 10px;
			padding: 20px 15px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			&:hover {
				background-color: white;
				color: #1d1d1d;
			}
		}
	}
	a {
		text-decoration: none;
		color: white;
	}
}
